@model UniversalReportCore.Ui.ViewModels.FacetedBrowserViewModel

@if (Model.ShowFilterButton)
{
    <button class="btn btn-primary d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
        @Html.Raw(Model.FilterButtonHtml)
    </button>
}
@if (Model.Params.FilterKeys.Value != null && Model.Params.FilterKeys.Value.Length > 0)
{
    <!-- Preserve Other Query Parameters -->
    <input type="hidden" name="slug" value="@Model.Params.Slug.Value" />
    <input type="hidden" name="ipp" value="@Model.Params.Ipp.Value" />
    <input type="hidden" name="sortOrder" value="@Model.CurrentSort" />
    <input type="hidden" name="pi" value="@Model.Params.Pi" />

    @if (Model.Params.CohortIds.Value != null)
    {
        @foreach (var cohortId in Model.Params.CohortIds.Value)
        {
            <input type="hidden" name="cohortIds" value="@cohortId" />
        }
    }

    <button type="submit" class="btn btn-secondary d-flex align-items-center">
        @Html.Raw(Model.ClearFilterButtonHtml)
    </button>
}
