@model UniversalReportCore.Ui.ViewModels.FacetedBrowserViewModel
@using UniversalReportCore.Ui
@addTagHelper *, UniversalReportCore.Ui

<form method="get">
    <tr class="bg-light collapse" id="collapseFilter">
        @foreach (var column in Model?.ReportColumns)
        {
            var options = Model?.FilterOptions
            .Where(a => a.Heading == column.PropertyName)
            .Select(a => a.Options)
            .FirstOrDefault();

            if (options != null)
            {
                <column-filter column="@column"
                    options="@options">
                </column-filter>
            }
            else
            {
                <th></th>
            }
        }
        <!-- Preserve Other Query Parameters -->
        <input type="hidden" name="slug" value="@Model.Params.Slug.Value" />
        <input type="hidden" name="ipp" value="@Model.Params.Ipp.Value" />
        <input type="hidden" name="sortOrder" value="@Model.CurrentSort" />
        <input type="hidden" name="pi" value="@Model.Params.Pi" />
        @if (Model.Params.CohortIds.Value != null)
        {
            @foreach (var cohortId in Model.Params.CohortIds.Value)
            {
                <input type="hidden" name="cohortIds" value="@cohortId" />
            }
        }
        @if (Model.Params.SearchQueries.Value != null)
        {
            @foreach (var search in Model.Params.SearchQueries.Value)
            {
                <input type="hidden" name=@($"query{search.Key}") value=@($"{search.Value}") />
            }
        }
    </tr>
</form>
