@model UniversalReportCore.Ui.ViewModels.FacetedBrowserViewModel

<form method="get">
    @foreach (var filterGroup in Model.FilterOptions)
    {
        <fieldset class="border p-3">
            <legend class="w-auto px-2 text-secondary fw-bold">@filterGroup.Heading</legend>
            <ul class="list-group list-group-flush">
                @foreach (var filter in filterGroup.Options)
                {
                    bool isSelected = filter.Selected;
                    <li class="list-group-item">
                        <label>
                            <input type="checkbox"
                                   name="filters"
                                   value="@filter.Value"
                                   checked="@isSelected"
                                   onchange="this.form.submit()" />
                            @filter.Text
                        </label>
                    </li>
                }
            </ul>
        </fieldset>
    }

    <!-- Preserve Other Query Parameters -->
    <input type="hidden" name="slug" value="@Model.Params.Slug.Value" />
    <input type="hidden" name="ipp" value="@Model.Params.Ipp.Value" />
    <input type="hidden" name="sortOrder" value="@Model.SortOrder" />
    <input type="hidden" name="pi" value="@Model.PageIndex" />

    @if (Model.Params.CohortIds.Value != null)
    {
        @foreach (var cohortId in Model.Params.CohortIds.Value)
        {
            <input type="hidden" name="cohortIds" value="@cohortId" />
        }
    }
</form>
