@using UniversalReportCore.PageMetadata
@using UniversalReportCore.Ui.Pages
@using UniversalReportCore.Ui.ViewModels
@using UniversalReportCore.ViewModels
@model ReportPageModel
@addTagHelper *, UniversalReportCore.Ui

@await Html.PartialAsync("_PageHeadingPartial", Model.PageMeta)

<div class="container mt-4">

    @await Html.PartialAsync("_ActionWellPartial", Model.ActionWell)

    @if (Model.Items != null && Model.Items.Any())
    {
        @await Html.PartialAsync("_SearchPartial", new SearchViewModel { ReportColumns = Model.ReportColumns?.ToArray() })

        <table class="table vertical-borders table-striped mt-3">
            <thead>
                <tr class="bg-light">
                    @foreach (var column in Model?.ReportColumns)
                    {
                        <column-heading column="@column"
                                        model="@Model?.Params"
                                        viewmodel="@(Model?.Items.Cast<BaseEntityViewModel>().FirstOrDefault())"
                                        sort="@Model?.CurrentSort"
                                        page="/Reports/Index">
                        </column-heading>
                    }
                </tr>

                @await Html.PartialAsync("_FacetedBrowserFiltersPartial", new FacetedBrowserViewModel
                {
                    Params = Model.Params,
                        CurrentSort = Model.CurrentSort,
                        ReportColumns = Model.ReportColumns.ToArray(),
                        FilterOptions = Model.FilterOptions
                })
        </thead>

        <tbody>
            @foreach (BaseEntityViewModel item in Model?.Items)
                {
                    <tr>
                        @foreach (var column in Model?.ReportColumns)
                        {
                            <column-field column="column"
                                          item="item"
                                          slug="@Model?.Params.Slug.Value">
                            </column-field>
                        }
                    </tr>
                }
            </tbody>

            @if (Model?.Items?.Aggregates?.Any() == true)
            {
                <tfoot>
                    @if (Model?.Params.CohortIds.Value?.Any() == true)
                    {
                        @foreach (var cohortId in Model?.Params.CohortIds.Value)
                        {
                            <tr class="justify-content-center">
                                @foreach (var column in Model?.ReportColumns)
                                {
                                    <cohort-footer column="@column"
                                                   model="@Model?.Params"
                                                   cohort-id="@cohortId"
                                                   items="Model?.Items"
                                                   cohorts="Model?.Cohorts"
                                                   page="/Reports/Index">
                                    </cohort-footer>
                                }
                            </tr>
                        }
                    }
                    <tr class="bg-light justify-content-center">
                        @foreach (var column in Model?.ReportColumns)
                        {
                            <column-footer column="@column"
                                           model="@Model?.Params"
                                           items="Model?.Items">
                            </column-footer>
                        }
                    </tr>
                </tfoot>
            }
        </table>
    }
    else
    {
        <p class="text-muted">No data available for this report.</p>
    }
    <div class="text-center">
        @if (@Model?.Items?.Count > 0)
        {
            <partial name="_ReportItemsPerPageSelectorPartial"
                     model="new ItemsPerPageSelectorViewModel(Model?.Params, Model?.Items)" />
        }
        @if (Model?.Items?.HasMultiplePages == true)
        {
            <partial name="_ReportPagingNavigationPartial"
                     model="new ReportPagingNavigationViewModel()
                     {
                         CurrentSort = Model?.CurrentSort,
                         Params = Model?.Params,
                         Items = Model?.Items
                     }" />
                }
        @if (Model?.Items?.Meta?.ContainsKey("QueryDuration") == true)
        {
            var queryDuration = Model?.Items?.Meta?["QueryDuration"];
            <p class="small mt-4"><i>Query Duration: @queryDuration</i></p>
        }
    </div>
</div>
