@using UniversalReportCore.Helpers
@using UniversalReportCore.Ui.ViewModels
@model SearchViewModel

<div class="bg-light collapse p-3" id="collapseSearch">

    @if (Model == null || Model.ReportColumns == null || !Model.ReportColumns.Any())
    {
        <p>No columns available for search.</p>
        return;
    }

    <form method="get">

        <!-- Preserve Other Query Parameters -->
        <input type="hidden" name="slug" value="@Model.Params.Slug.Value" />
        <input type="hidden" name="ipp" value="@Model.Params.Ipp.Value" />
        <input type="hidden" name="sortOrder" value="@Model.CurrentSort" />
        <input type="hidden" name="pi" value="@Model.Params.Pi.Value" />

        @if (Model.Params.CohortIds.Value != null)
        {
            @foreach (var cohortId in Model.Params.CohortIds.Value)
            {
                <input type="hidden" name="cohortIds" value="@cohortId" />
            }
        }

        @foreach (var column in Model.ReportColumns.Where(a => a.PropertyName != null))
        {
            KeyValuePair<string, string>? search = null;
            @if (Model.Params.SearchQueries.Value != null)
            {
                search = Model.Params.SearchQueries.Value.FirstOrDefault(a => a.Key == column.PropertyName);
            }

            <div class="form-group">
                <label style="width: 200px;" for=@($"query{column.PropertyName}")>@($"{StringHelper.SplitPascalCase(column.PropertyName)}")</label>
                <input type="text" id=@($"query{column.PropertyName}") name=@($"query{column.PropertyName}") style="width: 200px;" value=@(search?.Value) />
            </div>

        }

        @if(Model.Params != null)
        {


            @if (Model.Params.FilterKeys.Value != null)
            {
                @foreach (var filterKey in Model.Params.FilterKeys.Value)
                {
                    <input type="hidden" name="filters" value="@filterKey" />
                }
            }
        }

        <span class="d-inline-flex align-items-center me-2 mb-2" role="toolbar" aria-label="Action Well Toolbar">
            <span class="btn-group btn-group-sm" role="group" aria-label="Action Well Group 1">
                <button type="submit" class="btn btn-secondary d-flex align-items-center">
                    @Html.Raw("Search")
                </button>
            </span>
        </span>

    </form>
</div>

